{% extends 'base.html.twig' %}

{% block title %}List CSV Files{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col"><a class="btn btn-info" role="button" href="{{ path('upload_file') }}">UploadFile</a></div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="list-group" id="csv-files">
                    {% if files %}
                    {% for file in files %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{{ path('view_file', {'uuid': file.uuid}) }}">{{ file.name }} ({{ file.uploadDate|date('m/d/Y h:i:s T') }})</a>
{#                            <a href="" class="btn btn-danger delete-csv ml-4" data-id="{{ file.id }}">Delete</a><a href="" class="btn btn-danger delete-csv ml-4" data-id="{{ file.id }}">Delete</a>#}
                        </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


