<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3 static-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/upload" class="nav-link">Upload</a>
                </li>
            </ul>
        </div>
        <nav class="navbar navbar-light">
            <h2 class="navbar-brand">MarkSYS Test Assignment 002</h2>
        </nav>
    </div>
</nav>