{% extends 'base.html.twig' %}

{% block title %}Upload CSV File{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="">
                {{ form_start(form) }}
                {{ form_widget(form.file) }}
                <div class="row">
                    <input type="submit" value="Upload" class="btn btn-success mt-4 ml-3">
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}